<p id="notice"><%= notice %></p>

<p>
  <strong>Quote:</strong>
  <%= @invitation.quote_id %>
</p>

<p>
  <strong>Company:</strong>
  <%= @invitation.company_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @invitation.user_id %>
</p>

<%= link_to 'Edit', edit_invitation_path(@invitation) %> |
<%= link_to 'Back', invitations_path %>
